.avatar {
  border-width: 3px;
  border-color: #90949c;
  border-style: solid;
  border-radius: 50%;
  margin-left: 10px;
}

.fl {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
  justify-content: center;
}
.flx {
  display: flex;
}
.emoji {
  height: 15px;
  width: 15px;
}

.profile-name {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  color: #395b95;
  margin-left: 10px;
}
.profile-name-other {
  font-family: inherit;
  font-weight: 400;
  font-size: 15px;
  color: #395b95;
}
.date {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #90949c;
  margin-left: 10px;
}
.date1 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #90949c;
}
.tren {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.message {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  margin-left: 10px;
}
.food {
  width: 500px;
}
.full {
  border: 2px solid gray;
  justify-content: center;
  display: flex;
}
